<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/static/blog.css" />

  <title>Ken's World</title>
</head>

<body>

  <div class="login-area">
    
      <a class="login-link" href="/login">login</a>
      |
      <a class="login-link" href="/signup">signup</a>
      |
      <a class="login-link" href="/logout">logout</a>
  </div><br>
  <div>
    <a href="http://www.udacity.com" class="main-title">
      Ken's Udacity CS253 Homework
    </a>
  </div>
  
  
  <div id="content">
  
    <h2>Pages</h2>
  
    <table>
      <tr>
        <td valign="top">
          Unit 1:
        </td>
        <td valign="top">
           Installed <a href="https://developers.google.com/appengine/">Google App Engine</a><br>
        </td>
      </tr>
      <tr>
        <td valign="top">
          Unit 2:
        </td>
        <td valign="top">
           <a href="/validation">Input validation</a><br>
           <a href="/asciichan">Ascii Art</a><br>
           <a href="/ROT13">Caeser Cypher</a><br>
           <a href="/signup">Sign Up</a><br>
        </td>
      </tr>
      <tr>
        <td valign="top">Unit 3:
        </td>
        <td valign="top">
          <a href="/blog">Blog</a><br>
          <a href="/blog/newpost">Post</a><br>
        </td>
      </tr>
      <tr>
        <td valign="top">Unit 4
        </td>
        <td valign="top">
          <a href="/cookiecounter">Cookie Counter</a><br>
          <a href="/signup">Signup</a><br>          
          <a href="/login">Login</a><br>
          <a href="/logout">Logout</a><br>

        </td>
      </tr>      
    </table>
      
  </div>
</body>

</html>