<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/static/blog.css" />

  <title>Ken's World</title>
</head>

<body>

  <div class="login-area">
    
      <a class="login-link" href="/blog/login">login</a>
      |
      <a class="login-link" href="/blog/signup">signup</a>
      |
      <a class="login-link" href="/blog/logout">logout</a>
  </div><br>
  <div>
    <a href="http://www.udacity.com" class="main-title">
      Ken's Udacity CS253 Homework
    </a>
  </div>
  
  
  <div id="content">
  
    <h2>Pages</h2>
  
    <table>
      <tr>
       
        <td valign="top">
          Unit 1:
        </td>
        <td valign="top">
           Installed <a href="https://developers.google.com/appengine/">Google App Engine</a><br>
        </td>
      </tr>
      <tr>
        <td valign="top">
          Unit 2:
        </td>
        <td valign="top">
           <a href="/hw/validation">Input validation</a><br>
           <a href="/hw/asciichan">Ascii Art</a><br>
           <a href="/hw/ROT13">Caeser Cypher</a><br>
           <a href="/hw/signup">Sign Up</a><br>
        </td>
      </tr>
      <tr>
        <td valign="top">Unit 3:
        </td>
        <td valign="top">
          <a href="/blog">Blog</a><br>
          <a href="/blog/newpost">Post</a><br>
        </td>
      </tr>
      <tr>
        <td valign="top">Unit 4
        </td>
        <td valign="top">
          <a href="/hw/cookiecounter">Cookie Counter</a><br>
          <a href="/blog/signup">Signup</a><br>          
          <a href="/blog/login">Login</a><br>
          <a href="/blog/logout">Logout</a><br>
        </td>
      </tr> 
      <tr>
        <td valign="top">Unit 5
        </td>
        <td valign="top">
          <a href="/hw/asciichan">Ascii art revisited</a><br>

        </td>
      </tr> 
      
      <tr>
        <td colspan="2"><br></td>
      </tr>
      <tr>
        <td valign="top">Misc
        </td>
        <td valign="top">
          <a href="http://udacity-cs253.appspot.com/blog">Class Example Blog</a><br>
          <a href="http://forums.udacity.com/cs253-april2012">Forum</a><br>
          <a href="http://aurelio.alwaysdata.net/">Aurelio's Blog</a><br>
          <a href="https://bitbucket.org/cmucsd/huffmancs253/src/65ab80209c2b/non-vitae-sed-scholae/src/hw_3_1.py">Huffman's Bitbucket</a><br>
          <a href="http://www.asciichan.com/">AsciiChan.com</a><br>
         
        </td>
      </tr>



    </table>
      
  </div>
</body>

</html>