<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/static/blog.css" />

  <title>Ken's World</title>
</head>

<body>
  <a href="/blog" class="main-title">
    Ken's World
  </a>

  <div class="login-area">
    
      <a class="login-link" href="/hw/login">login</a>
      |
      <a class="login-link" href="/hw/signup">signup</a>
    
  </div>

  <div id="content">
  
  <h2>new post</h2>

    <form method="post">
      <label>
        <div>subject</div>
        <input type="text" name="subject" value="{{subject}}">
      </label>

      <label>
        <div>post</div>
        <textarea name="content">{{content}}</textarea>
      </label>

      <div class="error"></div>

      <input type="submit">
    </form>

  </div>
</body>

</html>