<!DOCTYPE html>

<html>
  <head>
    <title>/Ken's World/</title>
    <link type="text/css" rel="stylesheet" href="/static/blog.css" />
  </head>
  
  <body>
    <a href="/blog" class="main-title">
      Ken's World
    </a>
 
    <div class="login-area">
      <a class="login-link" href="/blog/newpost">new post</a>
      |    
      <a class="login-link" href="/login">login</a>
      |
      <a class="login-link" href="/signup">signup</a>
      |
      <a class="login-link" href="/logout">logout</a>
    </div>
    <!--{% print "blogEntries: ", blogEntries %}-->

    <div id="content">

        {% if post %}
            <div class="post">
              <div class="post-heading">
                <div class="post-title">{{post.subject}}</div>
                <div class="post-date">{{post.created.strftime("%b %d, %Y)}}</div>
              </div>
              <div class="post-content">
                {{post.render_text | safe}}<br><br>
              </div>
            </div>
        {% endif %}
   
    </div>
    
    
  </body>
</html>